* {
  margin: 0;
  padding: 0;
  overflow: -moz-scrollbars-none; /* Optional: this disables the scrollbar in Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  color: #261010;
}

::-webkit-scrollbar {
display: none;
}

#loader {
  background-color: #121212;
  text-align: center;
  height: 100vh;
  /* For 100% screen height */
  width: 100%;
  /* For 100% screen width */
  position: absolute;
  top:0;
  
}

#Footer{
  background-color: #828689;
  background-size: 100% 100%;
  height: 100vh;
  /* For 100% screen height */
  width: 100%;
  /* For 100% screen width */
}


.header {
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  text-align: right;
}
.header a {
  margin-left: 20px;
  color: #261010;
  text-decoration: none;
}

.header a:hover {
  color: #010000;    
}
#choose_path {
  background-image: url("../../img/rm347-porpla-02-a-01.jpg");
  background-repeat: repeat;
  background-size: 100% 100%;
  height: 100vh;
  /* For 100% screen height */
  width: 100%;
  /* For 100% screen width */
}

#Second_stage{
background-color: #828689;
background-size: 100% 100%;
height: 100vh;
/* For 100% screen height */
width: 100%;
/* For 100% screen width */
}

.search-results {
position: relative;
right: -60%;
top: 0;
width: 33%; /* Adjust this value to control the width of the card */
height: 80vh; /* This makes the card the full height of the viewport */
overflow-y: auto; /* This makes the card scrollable */
border: 1px solid #ccc; /* This adds a border around the card */
padding: 20px; /* This adds some space inside the card */
box-sizing: border-box; /* This ensures the padding and border are included in the card's width and height */
}



.search-results {
/* Other styles for the search results card */
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 10%;

}

.result-box {
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 15px;
width: 100%;
box-sizing: border-box;
background-color: #232020;
}

.result-url {
font-size: 0.8em;
color: #0066cc;
text-decoration: none;
}

.result-title {
margin: 10px 0;
color:#ccc;
}

.result-date, .result-type, .result-relevance {
margin: 0;
font-size: 0.8em;
color: #666;
}

#Third_stage{
background-color: #828689;
background-size: 100% 100%;
height: 100vh;
/* For 100% screen height */
width: 100%;
/* For 100% screen width */
}

.container {
display: grid;
margin-left: 50%;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
height: 80vh;
width: 45vw; /* Adjust this value to control the height of the container */
}

.bunch-A {
padding: 1%;
grid-column: 2;
grid-row: 1 / span 2;
border: 1px solid #ccc;
/* Other styles for bunch A */
}

.bunch-B {
padding: 1%;
grid-column: 1;
grid-row: 2;
border: 1px solid #ccc;
/* Other styles for bunch B */
}

.bunch-C {
padding: 1%;
grid-column: 2;
grid-row: 2;
border: 1px solid #ccc;
/* Other styles for bunch C */
}

.item-container {
position: relative;
width: 100px;
height: 150px;
transition: all 0.5s;
}

.item {
position: absolute;
width: 100%;
height: 100%;
transition: all 0.5s;
}

.item-container:hover {
display: grid;
grid-template-columns: repeat(2, 1fr);
width: 300px;
height:200px ;
}

.item-container:hover .item {
position: static;
}

#Fourth_stage .search-results{
background-color: #aaa7a7;
}

#Fourth_stage{
background-color: #828689;
background-size: 100% 100%;
height: 100vh;
/* For 100% screen height */
width: 100%;
/* For 100% screen width */
}

.icon-row {
display: flex;
justify-content:left;

}

.icon_format {
position: relative;
top: 45%;
margin-left: 20%;

}

.icon {
 /* Adjust this value to control the size of the icons */
height: 40px; /* Adjust this value to control the size of the icons */
padding-left: 10px;
}

.timeline-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
padding: 20px;
}

.sdg-icon {
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sdg-icon:hover {
transform: scale(1.1);
box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.action-item:focus-within .action-details,
.action-item:hover .action-details {
opacity: 1;
visibility: visible;
}

.progress-bar {
height: 5px;
background-color: #ddd;
position: relative;
width: 100%;
}
.progress-bar::after {
content: '';
height: 5px;
background: linear-gradient(to right, #4caf50, #81c784);
position: absolute;
left: 0;
top: 0;
width: 0%; /* Dynamically update this width based on scroll or navigation progress */
transition: width 0.4s ease;
}

@keyframes pulse {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.05);
}
100% {
  transform: scale(1);
}
}
.milestone-reached .sdg-icon {
animation: pulse 1s infinite;
}

@media (max-width: 768px) {
.timeline-container {
  grid-template-columns: 1fr;
}
}


h1 {
font-size: 2em;
color: #261010;
text-align: left;
margin-bottom: 1%;
}

.format_header{
position: relative;
top: 20%; /* Adjust this value to move the header up or down */
margin-left: 15%; 
text-align: center;
}

.format_header h2 {
font-size: 2em;
color:  #ffffff;
text-align: left;
}

input[type="search"] {
width: 36vw;
height: 35px;
border-radius: 20px 0 0 20px;
padding: 1%;
}

input[type="submit"] {
height: 31px;
}

.search-container {
position: fixed;
padding-top: 20%;
padding-left: 15%; 
text-align: center;
}

.search-input {
padding: 10px;
width: 40%;
height: 35px;
max-width: 500px;
border: none;
border-radius: 20px 0 0 20px;
outline: none;
}

.search-button {
padding: 10px;
border: none;
background-color: #4CAF50;
color: white;
cursor: pointer;
border-radius: 0 20px 20px 0;
outline: none;
}

.search-input:focus + .search-button {
background-color: #45a049;
}


@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
--color: #3c3163;
--transition-time: 0.7s;
}

* {
box-sizing: border-box;
}

#Interested {
margin: 0px;
  font-family: 'Open Sans';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
color: inherit;
}

.cards-wrapper {
padding-top: 25%;
padding-left: 15%;  
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1rem;
width: max-content;

}

.card {
font-family: 'Heebo';
--bg-filter-opacity: 0.5;
background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
height: 29vh;
width: 12vw;
font-size: 1em;
color: white;
border-radius: 1em;
padding: 1em;
display: flex;
align-items: flex-start;
background-size: cover;
background-position: center;
box-shadow: 0 0 5em -1em black;
transition: all, var(--transition-time);
position: relative;
overflow: hidden;
border: 2px solid #ccc;
text-decoration: none;
}

.card:hover {
transform: rotate(0);
}

.card h1 {
margin: 0;
font-size: 1.5em;
line-height: 1.2em;
}

.card p {
font-size: 0.75em;
font-family: 'Open Sans';
margin-top: 0.5em;
line-height: 2em;
color: rgba(255, 255, 255, 0);
}
.card:hover p {
color: white;
}

.card .tags {
display: flex;
}

.card .tags .tag {
font-size: 0.75em;
background: rgba(255, 255, 255, 0);
color: rgba(255, 255, 255, 0);
border-radius: 0.3rem;
padding: 0 0.5em;
margin-right: 0.5em;
line-height: 1.5em;
transition: all, var(--transition-time);
}

.card:hover .tags .tag {
background: var(--color);
color: white;
}

.card .date {
position: absolute;
top: 0;
right: 0;
font-size: 0.75em;
padding: 1em;
line-height: 1em;
opacity: .8;
}

.card:before, .card:after {
content: '';
transform: scale(0);
transform-origin: top left;
border-radius: 50%;
position: absolute;
left: -50%;
top: -50%;
z-index: -5;
transition: all, var(--transition-time);
transition-timing-function: ease-in-out;
}

.card:before {
background: #ddd;
width: 250%;
height: 250%;
}

.card:after {
background: rgb(188, 143, 143);
width: 200%;
height: 200%;
}

.card:hover {
color: var(--color);
}

.card:hover:before, .card:hover:after {
transform: scale(1);
}

.card-grid-space .num {
font-size: 1em;
margin-bottom: 0.2rem;
margin-left: 0.1rem;
color:beige;
}

.info {
font-size: 1.2em;
display: flex;
padding: 1em 3em;
height: 3em;
}

.info h1 {
font-size: 1.5em;
font-weight: normal;
color: antiquewhite;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
.cards-wrapper {
  grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 900px) {
.cards-wrapper {
  grid-template-columns: 1fr 1fr;
}
.card{
  width: 40vw;
} 

.info {
  justify-content: center;
}
.card-grid-space .num {
  margin-left: 0;
  text-align: center;
  color: azure;
}
}



@media screen and (max-width: 450px) {
.info {
  display: block;
  text-align: center;
}
.info h1 {
  margin: 0;
}
}